.searchBarDiv{
    border-bottom: 3px solid blue;
    width: 50vw;
    display: flex;
    padding-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.inputField input{
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1.2rem;
}
.inputOptions{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background: white;
    z-index: 1;
    overflow-x: hidden;
    max-height: 50vh;
}
.inputOptions::-webkit-scrollbar {
    width: 0.3em;
  }
   
  .inputOptions::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .inputOptions::-webkit-scrollbar-thumb {
    background-color: #4645454d;
    border-radius: 25px;
    outline: 1px solid #acb1b554;
  }